<%= form_with(model: genre) do |form| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :genres_name , class:"form-label"%>
    <%= form.text_field :genres_name, class:"form-control"%>
  </div>
  <div class="field mb-3">
    <%= form.label :image, class:"form-label" %>
    <%= form.file_field :image, class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
