
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box-db box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                total songs
                            </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    <%= @songs.count %>
                                </div>
                                <i class='bx bxs-album'></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box-db box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                total albums
                            </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    <%= @albums.count %>
                                </div>
                                <i class='bx bx-chat'></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box-db box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                total artist
                            </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    <%= @artists.count %>
                                </div>
                                <i class='bx bx-line-chart'></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box-db box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                daily visitors
                            </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    690
                                </div>
                                <i class='bx bx-user'></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3 col-md-6 col-sm-12">
                    <!-- TOP PRODUCT -->
                    <div class="box-db f-height">
                        <div class="box-header">
                            top song
                        </div>
                        <div class="box-body">
                            <ul class="product-list">
                                <%  @topsongs.each do |song|%>
                                <li class="product-list-item">
                                    <div class="item-info">
                                        <%= image_tag(song.thumbnail, :alt=> song.song_name) %>
                                        <div class="item-name">
                                            <div class="product-name text-truncate" style="max-width: 120px">
                                                <%= song.song_name %>
                                            </div>
                                            <div class="text-second">
                                                <%= song.artist.artist_stagename %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-sale-info">
                                        <div class="text-second">view</div>
                                        <div class="product-sales">998</div>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <!-- TOP PRODUCT -->
                </div>
                <div class="col-4 col-md-6 col-sm-12">
                    <!-- CATEGORY CHART -->
                    <div class="box-db f-height">
                        <div class="box-body">
                            <div id="category-chart"></div>
                        </div>
                    </div>
                    <!-- END CATEGORY CHART -->
                </div>
                <div class="col-5 col-md-12 col-sm-12">
                    <!-- CUSTOMERS CHART -->
                    <div class="box-db f-height">
                        <div class="box-header">
                            customers
                        </div>
                        <div class="box-body">
                            <div id="customer-chart"></div>
                        </div>
                    </div>
                    <!-- END CUSTOMERS CHART -->
                </div>
                <div class="col-12">
                    <!-- ORDERS TABLE -->
                    <div class="box-db">
                        <div class="box-header">
                            Recent song
                        </div>
                        <div class="box-body overflow-auto">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Song</th>
                                        <th>Create At</th>
                                        <th>Order status</th>
                                        <th>Payment status</th>
                                        <th>Listening Frequency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @newsongs.each do |song| %>
                                        <tr>
                                            <td>#00<%= song.id%></td>
                                            <td>
                                                <div class="order-owner">
                                                    <%= image_tag(song.image, :alt=> song.song_name)%>
                                                    <span><%= song.song_name%></span>
                                                </div>
                                            </td>
                                            <td><%= song.created_at.strftime("%d/%m/%Y") %></td>
                                            <td>
                                                <span class="order-status order-ready">
                                                    Ready
                                                </span>
                                            </td>
                                            <td>
                                                <div class="payment-status payment-pending">
                                                    <div class="dot"></div>
                                                    <span>New</span>
                                                </div>
                                            </td>
                                            <td>998</td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END ORDERS TABLE -->
                </div>
    
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>