<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :album_name, class:"form-label"%>
    <%= form.text_field :album_name, class:"form-control"%>
  </div>

  <div class="field mb-3">
    <%= form.label "Image", class:"form-label" %>
    <%= form.file_field :image, class:"form-control"%>
  </div>

  <div class="field mb-3">
    <%= form.label :album_description, class:"form-label"%>
    <%= form.text_area :album_description, class:"form-control"%>
  </div>

    <div class="field mb-3">
      <%= form.label :artist_id, class:"form-label" %>
      <%= form.collection_select :artist_id, Artist.all, :id, :artist_stagename, {}, :mutiple => false, class:"form-select"%>
    </div>
    <div class="field mb-3">
      <%= form.label :genre_id, class:"form-label" %>
      <%= form.collection_select :genre_id, Genre.all, :id, :genres_name, {}, :mutiple => false, class:"form-select"%>
    </div>

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
